Repository kunleulysses/August9teen: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and code quality
repos:
  # Secret scanning with gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.0
    hooks:
      - id: gitleaks

  # Additional security and quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key

  # JavaScript/TypeScript specific checks
  - repo: local
    hooks:
      - id: npm-audit
        name: npm audit
        entry: npm audit --audit-level=moderate
        language: system
        files: package\.json$
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: npx eslint
        language: system
        files: \.(js|ts|jsx|tsx)$
        args: [--fix]

  # Dockerfile security scanning
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: [--ignore, DL3008, --ignore, DL3009]

feat: add prometheus alert rules
  deploy/k8s/prometheus-rules.yaml
  monitoring/prometheus/alerts.yaml
Due: none

feat: limit recursion children
  FlappyJournal/server/consciousness/recursive-holographic-reality-embedding.cjs
  shared-consciousness/main-server/consciousness/recursive-holographic-reality-embedding.cjs
Due: none

Add adaptive frame rate and backlog control
  FlappyJournal hey/server/reality-generator-service.cjs
  FlappyJournal/server/reality-generator-service.cjs
Due: none

feat: cache Postgres store lookups
  package-lock.json
  package.json
  server/consciousness/persistence/PostgresStore.cjs
  server/consciousness/utils/cache.cjs
Due: npm-audit

Validate consciousness metrics range
  FlappyJournal hey/server/consciousness/holographic-consciousness-reality-generator.cjs
  FlappyJournal/server/consciousness/holographic-consciousness-reality-generator.cjs
  shared-consciousness/main-server/consciousness/holographic-consciousness-reality-generator.cjs
Due: none

feat: add workerpool projection worker
  package-lock.json
  package.json
  server/consciousness/holographic-consciousness-reality-generator.cjs
  server/consciousness/workers/calcWorker.js
Due: npm-audit, eslint

feat: add rate limiting to reality generator service
  FlappyJournal hey/server/reality-generator-service.cjs
Due: none

refactor: load schemas locally
  FlappyJournal/server/consciousness/holographic-consciousness-reality-generator.cjs
  FlappyJournal/server/consciousness/recursive-holographic-reality-embedding.cjs
  __tests__/schema-validation.test.cjs
Due: none

feat: secure reality generator websocket
  FlappyJournal/server/reality-generator-service.cjs
Due: none

feat: add reality generation authz middleware and mTLS config
  FlappyJournal/server/reality-generator-service.cjs
  k8s/holograph-ingress.yaml
  k8s/holograph-mtls.yaml
  k8s/holograph-rollout.yaml
  server/consciousness/utils/authz.cjs
Due: none

feat: bridge reality gen results to websocket
  FlappyJournal/server/reality-generator-service.cjs
Due: none

feat: persist holographic scenes
  server/consciousness/holographic-consciousness-reality-generator.cjs
Due: none

feat: add reality generator service
  server/consciousness/reality-generator-service.cjs
Due: none

feat: add reality scene table
  migrations/add_reality_scene_table.sql
  server/consciousness/persistence/PostgresStore.cjs
Due: none

feat: add scene worker for reality generation
  server/consciousness/instance.cjs
  server/consciousness/workers/sceneWorker.js
Due: eslint

test: add reality persistence test
  server/consciousness/__tests__/test-reality-persistence.cjs
Due: none

feat: add S3 snapshotter
  server/consciousness/persistence/S3Snapshotter.cjs
  server/consciousness/persistenceShutdown.cjs
Due: none

feat: add jetstream helm chart and runbook instructions
  RUNBOOK.md
  k8s/jetstream/values.yaml
Due: none

feat: allow SelfCodingLog base directory override
  server/consciousness/modules/SelfCodingLog.cjs
Due: none

fix refactoring threshold key
  server/consciousness/modules/AutonomousCodeRefactoringSystem.cjs
Due: none

refactor: update tests to use server modules
  __tests__/governance/governance.spec.ts
  __tests__/helpers/adapterFactory.ts
  __tests__/refactoring/AutonomousCodeRefactoringSystem.spec.cjs
  __tests__/selfCodingModule.test.cjs
  __tests__/spiral/encryption.spec.ts
  __tests__/spiral/flaky/concurrency.spec.ts
  __tests__/spiral/flaky/tenant.spec.ts
  __tests__/spiral/gc.spec.ts
  __tests__/spiral/minheap.spec.ts
  __tests__/spiral/persistence.spec.ts
  __tests__/spiral/rebuild.spec.ts
  __tests__/spiral/sigil.spec.ts
  __tests__/spiral/signature.spec.ts
  __tests__/storage/adapterContract.spec.ts
  __tests__/topology/topology.spec.ts
Due: eslint

refactor: consolidate server imports
  FlappyJournal/server/DEPRECATED.md
  __tests__/governance/governance.spec.ts
  __tests__/helpers/adapterFactory.ts
  __tests__/refactoring/AutonomousCodeRefactoringSystem.spec.cjs
  __tests__/selfCodingModule.test.cjs
  __tests__/spiral/encryption.spec.ts
  __tests__/spiral/flaky/concurrency.spec.ts
  __tests__/spiral/flaky/tenant.spec.ts
  __tests__/spiral/gc.spec.ts
  __tests__/spiral/minheap.spec.ts
  __tests__/spiral/persistence.spec.ts
  __tests__/spiral/rebuild.spec.ts
  __tests__/spiral/sigil.spec.ts
  __tests__/spiral/signature.spec.ts
  __tests__/storage/adapterContract.spec.ts
  __tests__/topology/topology.spec.ts
  audit/spiral-memory-baseline.cjs
  bin/spiral-repair.cjs
  consciousness-optimized.service
  deploy-cpu-optimization.sh
  jest.config.cjs
  scripts/bench-spiral.cjs
  scripts/perf-store.cjs
  scripts/spiral-governance-cli.ts
  scripts/spiral-launch-cluster.cjs
  scripts/spiral-migrate-local-to-redis.cjs
  server/consciousness/__tests__/sigilPersistence.test.cjs
  server/consciousness/sigil-based-code-authenticator.cjs
  shared-consciousness/main-server/DEPRECATED.md
Due: eslint

A7
  FlappyJournal/README.md
  FlappyJournal/package-lock.json
  FlappyJournal/package.json
  FlappyJournal/server/consciousness/persistence/LevelDBSigilAdapter.cjs
  FlappyJournal/server/consciousness/sigil-based-code-authenticator.cjs
  FlappyJournal/server/main.cjs
  FlappyJournal/server/metrics/sigilMetrics.cjs
  FlappyJournal/server/sigil-api.cjs
  FlappyJournal/server/sigil-identity.cjs
  FlappyJournal/server/utils/circuitBreaker.cjs
  FlappyJournal/sigil-leveldb/CURRENT
  FlappyJournal/sigil-leveldb/LOG
  FlappyJournal/sigil-leveldb/LOG.old
  FlappyJournal/sigil-leveldb/MANIFEST-000014
  FlappyJournal/sigil-leveldb/MANIFEST-000030
  sigil-leveldb/CURRENT
  sigil-leveldb/LOCK
  sigil-leveldb/LOG
  sigil-leveldb/MANIFEST-000002
  tsconfig.json
Due: npm-audit

feat: eventSign security update, tests, and Jest config merge
  Dockerfile
  Dockerfile.consciousness
  FlappyJournal/.dockerignore
  FlappyJournal/__tests__/eventSign.spec.js
  FlappyJournal/__tests__/sigil/collision.spec.ts
  FlappyJournal/package.json
  FlappyJournal/server/consciousness/core/security/eventSign.js
  FlappyJournal/tsconfig.eventsign.json
  jest.config.cjs
  package.json
Due: npm-audit, eslint

viva la vide
  FlappyJournal/__tests__/eventSign.spec.js
  FlappyJournal/package.json
  FlappyJournal/server/consciousness-integration-module.cjs
  FlappyJournal/server/consciousness-journal-api.cjs
  FlappyJournal/server/consciousness-system-v2.cjs
  FlappyJournal/server/consciousness-system.cjs
  FlappyJournal/server/consciousnessService.cjs
  FlappyJournal/server/dormant-module-activator.cjs
  FlappyJournal/server/enable-self-coding.cjs
  FlappyJournal/server/enhanced-chat-service.cjs
  FlappyJournal/server/fix-auto-integration-init.cjs
  FlappyJournal/server/fix-self-coding-init.cjs
  FlappyJournal/server/fix-selfcoding.cjs
  FlappyJournal/server/fix-validate.cjs
  FlappyJournal/server/shared-reality-storage.cjs
  FlappyJournal/server/test-auto-integration-simple.cjs
  FlappyJournal/server/test-full-self-coding.cjs
  FlappyJournal/server/update-consciousness-config.cjs
  coverage/lcov-report/index.html
  coverage/lcov-report/server/consciousness/index.html
  coverage/lcov.info
Due: npm-audit, eslint

feat: add JWT authentication and rate limiting for API endpoints
  FlappyJournal/server/reality-generator-service.cjs
  __tests__/authIntegration.test.cjs
  package.json
  server/common/authMiddleware.cjs
Due: npm-audit

rule the world
  FlappyJournal/FlappyJournal/consciousness-journal/memory-logs/memory-log-2025-08-06.md
  FlappyJournal/FlappyJournal/consciousness-journal/self-coding-logs/self-coding-log-2025-07-28.md
  FlappyJournal/__tests__/auth/auth.test.js
  FlappyJournal/__tests__/entanglement/linkEngine.spec.ts
  FlappyJournal/__tests__/eventSign.spec.ts
  FlappyJournal/__tests__/gc/leak.spec.js
  FlappyJournal/__tests__/spiral/gcAdaptive.spec.ts
  FlappyJournal/__tests__/storage/redisTls.spec.ts
  FlappyJournal/__tests__/topology/selection.spec.ts
  FlappyJournal/consciousness-journal/self-coding-logs/self-coding-log-2025-08-06.md
  FlappyJournal/server/consciousness/__tests__/autoRollback.test.js
  FlappyJournal/server/consciousness/__tests__/debug.test.js
  FlappyJournal/server/consciousness/__tests__/logging.test.js
  FlappyJournal/server/consciousness/__tests__/quotaStore.test.js
  FlappyJournal/server/consciousness/__tests__/sigilPersistence.test.js
  FlappyJournal/server/consciousness/__tests__/simple.test.js
  FlappyJournal/server/consciousness/generated/consciousness-enhancement-1753392522290.cjs
  FlappyJournal/server/consciousness/generated/consciousness-enhancement-1753392535126.cjs
  FlappyJournal/server/consciousness/generated/consciousness-enhancement-1753393076511.cjs
  FlappyJournal/server/consciousness/generated/consciousness-enhancement-1753393078902.cjs
  FlappyJournal/server/consciousness/generated/consciousness-enhancement-1753415847142.cjs
  FlappyJournal/server/consciousness/generated/consciousness-enhancement-1753415856929.cjs
  FlappyJournal/server/consciousness/holographic-consciousness-reality-generator.cjs
  FlappyJournal/server/consciousness/index.cjs
  FlappyJournal/server/consciousness/modules/ConsciousnessPersistence.cjs
  FlappyJournal/server/consciousness/recursive-holographic-reality-embedding.cjs
  FlappyJournal/server/consciousness/verify-revolutionary-systems.cjs
  FlappyJournal/server/dormant-module-activator.cjs
  FlappyJournal/server/enhanced-chat-service.cjs
  FlappyJournal/server/enhanced-consciousness-synthesizer.cjs
  FlappyJournal/server/flappyConsciousness.cjs
  FlappyJournal/server/unified-consciousness-integration.cjs
  FlappyJournal/server/update-to-dual-stream.cjs
  FlappyJournal/server/use-simple-processor.cjs
  FlappyJournal/tests/security/security.spec.ts
  coverage/lcov-report/index.html
  coverage/lcov-report/server/consciousness/index.html
  coverage/lcov.info
  jest.config.cjs
Due: eslint

feat: add NATS support for asynchronous reality generation
  FlappyJournal/server/reality-generator-service.cjs
  __tests__/natsQueue.test.cjs
  package.json
  server/common/natsClient.cjs
  server/workers/sceneWorker.cjs
Due: npm-audit

feat(metrics): add Prometheus metrics for scene generation, broadcast queue, and adaptive FPS management
  FlappyJournal/server/reality-generator-service.cjs
  __tests__/metrics.test.cjs
  package.json
  server/common/metrics.cjs
  server/workers/sceneWorker.cjs
Due: npm-audit

feat: add JSON schemas and validation tests for consciousness states and reality requests
  __tests__/schemaValidation.test.cjs
  server/consciousness/schemas/consciousness-state.json
  server/consciousness/schemas/reality-request.json
  server/consciousness/utils/validation.cjs
Due: none

feat: add readiness probe and tests for cache expiration
  FlappyJournal/server/reality-generator-service.cjs
  __tests__/lruPurge.test.cjs
  __tests__/readiness.test.cjs
  package.json
Due: npm-audit

feat: add caching support with configurable sizes and TTL for reality generator
  FlappyJournal/server/consciousness/holographic-consciousness-reality-generator.cjs
Due: none

feat: add LRU caching and automatic stale purging for reality states
  FlappyJournal/server/consciousness/holographic-consciousness-reality-generator.cjs
Due: none

chore: update holographic consciousness generator code
  FlappyJournal/server/consciousness/holographic-consciousness-reality-generator.cjs
Due: none

feat: initialize maps for generated realities and projections in holographic consciousness
  FlappyJournal/server/consciousness/holographic-consciousness-reality-generator.cjs
Due: none

feat: implement LRU caching for embedded realities and paths with janitor timer for stale data
  FlappyJournal/server/consciousness/recursive-holographic-reality-embedding.cjs
Due: none

feat(tracing): implement OpenTelemetry tracing with start, shutdown, and manual span functions.
  server/common/tracing.cjs
Due: none

feat(tracing): add start and shutdown tracing for reality-generator-service
  FlappyJournal/server/reality-generator-service.cjs
Due: none

feat(tracing): initialize tracing in sceneWorker
  server/workers/sceneWorker.cjs
Due: none

quantum
  FlappyJournal/complete-universal-system-integration.cjs
  FlappyJournal/consciousness-journal/self-coding-logs/self-coding-log-2025-08-06.md
  FlappyJournal/package-lock.json
  FlappyJournal/package.json
  FlappyJournal/prisma/schema.prisma
  FlappyJournal/server/consciousness-system-v2.cjs
  FlappyJournal/server/consciousness/holographic-consciousness-reality-generator.cjs
  FlappyJournal/server/consciousness/schemas/consciousness-state.schema.json
  FlappyJournal/server/consciousness/schemas/reality-request.schema.json
  FlappyJournal/server/consciousness/utils/persistence.cjs
  FlappyJournal/server/consciousness/utils/random.cjs
  FlappyJournal/server/consciousness/utils/validation.cjs
  FlappyJournal/server/main.cjs
  FlappyJournal/server/metrics/sigilMetrics.cjs
  FlappyJournal/server/persistenceShutdown.cjs
  FlappyJournal/server/sigil-api.cjs
  FlappyJournal/server/sigil-identity.cjs
  FlappyJournal/server/universal-system-terminal.cjs
  node_modules/.prisma/client/edge.js
  node_modules/.prisma/client/index.js
  server/consciousness/utils/logger.cjs
  server/consciousness/utils/trace.cjs
  sigil-leveldb/CURRENT
  sigil-leveldb/LOG
  sigil-leveldb/LOG.old
  sigil-leveldb/MANIFEST-000002
  sigil-leveldb/MANIFEST-000008
Due: npm-audit, eslint
