Repository kunleulysses/August9teen: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and code quality
repos:
  # Secret scanning with gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.0
    hooks:
      - id: gitleaks

  # Additional security and quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key

  # JavaScript/TypeScript specific checks
  - repo: local
    hooks:
      - id: npm-audit
        name: npm audit
        entry: npm audit --audit-level=moderate
        language: system
        files: package\.json$
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: npx eslint
        language: system
        files: \.(js|ts|jsx|tsx)$
        args: [--fix]

  # Dockerfile security scanning
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: [--ignore, DL3008, --ignore, DL3009]

Implement AST-based refactoring and add tests
  FlappyJournal/server/consciousness/modules/AutonomousCodeRefactoringSystem.cjs
  __tests__/refactoring/AutonomousCodeRefactoringSystem.spec.cjs
Due: none

feat: add structured logging and metrics helpers
  FlappyJournal/server/consciousness/modules/AutonomousCodeRefactoringSystem.cjs
  server/consciousness/metrics/SelfCodingMetrics.cjs
  server/consciousness/modules/SelfCodingModule.cjs
  server/consciousness/services/CodeGenerationService.cjs
  server/consciousness/utils/logger.cjs
  shared-consciousness/main-server/consciousness/modules/AutonomousCodeRefactoringSystem.cjs
Due: none

feat: emit event after refactoring
  FlappyJournal/server/consciousness/modules/AutonomousCodeRefactoringSystem.cjs
Due: none

chore: configure code owners and freeze backups
  .eslintignore
  .github/CODEOWNERS
  .gitignore
  docs/production-readiness/plan.md
Due: none

docs: add secret rotation runbook
  RUNBOOK.md
Due: none

feat: add postgres audit log
  migrations/add_audit_log.sql
  server/common/logger.cjs
  shared/schema.ts
Due: eslint

feat: add user deletion pipeline
  docs/API.md
  migrations/add_pending_erase_to_users.sql
  server/api/openapi.yaml
  server/database-storage.ts
  server/index.ts
  server/routes.ts
  server/storage.ts
  server/user-eraser.ts
  shared/schema.ts
Due: eslint

feat: enforce scope requirements on priority events
  FlappyJournal hey/server/consciousness/priority-event-bus.cjs
  FlappyJournal/server/consciousness/priority-event-bus.cjs
  shared-consciousness/main-server/consciousness/priority-event-bus.cjs
Due: none

fix: make backfill script ESM
  scripts/backfill-sigil-legacy-hash.mjs
  server/consciousness/__tests__/calcSigilHash.test.cjs
  server/consciousness/utils/sigilHash.cjs
Due: none

chore: add daily restore workflow
  .github/workflows/restore.yml
Due: none

Add event bus Prometheus metrics
  prometheus/prometheus.yml
  shared-consciousness/main-server/consciousness/priority-event-bus.cjs
Due: none

feat: add OpenTelemetry tracing for core services
  server/common/tracing.cjs
  server/consciousness/persistence/PostgresStore.cjs
  server/holograph/worker/renderer.cjs
  server/index.ts
Due: eslint

feat: persist spiral memory to postgres
  package-lock.json
  package.json
  shared-consciousness/main-server/consciousness/core/SpiralMemoryArchitecture.cjs
Due: npm-audit

Add Keycloak scopes for spiral access and NATS auth
  FlappyJournal hey/auth-service/init-keycloak.ts
  FlappyJournal/auth-service/init-keycloak.ts
  __tests__/nats-scope.test.ts
  package-lock.json
  package.json
  server/nats-auth.ts
Due: npm-audit, eslint

feat: add NATS broker bus
  shared-consciousness/main-server/consciousness/BrokerBus.cjs
  shared-consciousness/main-server/consciousness/priority-event-bus.cjs
Due: none

feat: add memory placement worker
  server/api/routes/index.cjs
  server/api/routes/memory.cjs
  server/consciousness/instance.cjs
  server/consciousness/workers/placement.js
Due: eslint

Fix refactoring threshold property name
  FlappyJournal hey/mechanismdocs/Execute/zen3.md
  FlappyJournal/mechanismdocs/Execute/zen3.md
  FlappyJournal/server/consciousness/modules/AutonomousCodeRefactoringSystem.cjs
  shared-consciousness/main-server/consciousness/modules/AutonomousCodeRefactoringSystem.cjs
Due: none

feat: add backpressure and latency safeguards
  grafana/alert-config.json
  server/consciousness/dna-sigil-reality-encoding.cjs
  server/index.ts
Due: eslint

feat: add snapshot service for spiral memory
  package-lock.json
  package.json
  server/consciousness/__tests__/snapshotService.test.cjs
  server/consciousness/persistence/SnapshotService.cjs
  server/index.ts
Due: npm-audit, eslint

feat: add self coding dependencies
  server/consciousness/modules/AutonomousCodeRefactoringSystem.cjs
  server/consciousness/modules/SelfCodingLog.cjs
Due: none

Fix refactoring thresholds key
  FlappyJournal hey/mechanismdocs/Execute/zen3.md
  FlappyJournal/mechanismdocs/Execute/zen3.md
  FlappyJournal/server/consciousness/modules/AutonomousCodeRefactoringSystem.cjs
  shared-consciousness/main-server/consciousness/modules/AutonomousCodeRefactoringSystem.cjs
Due: none

Add broker bus forwarding and general queue metrics
  shared-consciousness/main-server/consciousness/priority-event-bus.cjs
Due: none

fix: restore broker bus integration
  FlappyJournal hey/server/consciousness/priority-event-bus.cjs
  FlappyJournal/server/consciousness/priority-event-bus.cjs
  shared-consciousness/main-server/consciousness/priority-event-bus.cjs
Due: none

chore: add reality access log migration
  migrations/add_reality_access_log.sql
  server/api/routes/realities.cjs
  server/api/services/realityService.cjs
  server/common/logger.cjs
  server/consciousness/dna-sigil-reality-encoding.cjs
  shared/schema.ts
Due: eslint

Add Litmus chaos experiments and scheduling
  docs/chaos-results/README.md
  docs/chaos-testing.md
  k8s/chaos/broker-partition.yaml
  k8s/chaos/db-loss.yaml
  k8s/chaos/pod-kill.yaml
  scripts/run-chaos-experiments.sh
  scripts/schedule-chaos.sh
Due: none

Add holo-generator Helm chart
  charts/holo-generator/.helmignore
  charts/holo-generator/Chart.yaml
  charts/holo-generator/templates/_helpers.tpl
  charts/holo-generator/templates/configmap.yaml
  charts/holo-generator/templates/deployment.yaml
  charts/holo-generator/templates/hpa.yaml
  charts/holo-generator/templates/service.yaml
  charts/holo-generator/values.yaml
Due: none

docs: expand runbook with onboarding and recovery steps
  RUNBOOK.md
Due: none

feat: add scene deletion endpoint
  FlappyJournal/server/reality-generator-service.cjs
  FlappyJournal/server/sceneDeletionWorker.cjs
Due: none

Add Argo Rollout with Prometheus success gate
  k8s/rollout-analysis.yaml
  k8s/rollout.yaml
Due: none

chore: include reality coverage
  jest.config.cjs
Due: none

Add CI workflow with unit, integration, load and ZAP scans
  .github/workflows/ci.yml
Due: none

Add k6 load test for WebSocket scene
  tests/load/ws_scene.js
Due: eslint

Add property and recursion tests
  __tests__/recursion.spec.js
  __tests__/scene.spec.js
Due: eslint

Add basic Grafana dashboard
  grafana/dashboard.json
Due: none

feat: enable otel tracing
  server/consciousness/metricsServer.cjs
Due: none

feat(metrics): add scene metrics and endpoint
  server/consciousness/metricsServer.cjs
Due: none
